.close{
    -fx-background-color:transparent;
    -fx-cursor:hand;
}
.close:hover{
    -fx-background-color:#ff4d5f;
}

.minimize{
    -fx-background-color:transparent;
    -fx-cursor:hand;
}
.minimize:hover{
    -fx-background-color:#0cd543;
}
.suivant-btn{
    -fx-background-color:#0aaf37;
    -fx-background-radius:10px;
    -fx-cursor:hand;
    -fx-font-size:18px;
    -fx-text-fill:#fff;
    -fx-font-family:"Arial";
    -fx-font-weight: bold;
}
.precedant-btn{
	-fx-background-color:#fb2107;
    -fx-background-radius:10px;
    -fx-cursor:hand;
    -fx-font-size:18px;
    -fx-text-fill:#fff;
    -fx-font-family:"Arial";
    -fx-font-weight: bold;
}

.logout{
    -fx-background-color:transparent;
    -fx-cursor:hand;
}
.nomPrenom{
    -fx-background-color:transparent;
    -fx-cursor:hand;
}
.rectngleDateHeure {
    -fx-border-color: black;     
    -fx-border-width: 2px;       
    -fx-border-radius: 10px;    
    -fx-background-radius: 10px; 
}
.keypad-button {
    -fx-font-size: 27px;
    -fx-font-weight: bold;
    -fx-pref-width: 90px;
    -fx-pref-height: 90px;
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-border-color: black;
    -fx-border-width: 1.5px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.keypad-button:hover {
    -fx-background-color: #f2f2f2; /* Un léger gris au survol */
}
.labelCartKanban{
   -fx-background-color:#023770;
    -fx-background-radius:10px;
    -fx-cursor:hand;
    -fx-font-size:18px;
    -fx-text-fill:#fff;
    -fx-font-family:"Arial";
    -fx-font-weight: bold;	
}
/*************************************************************/
/* Style général pour la grille */
.matrix-grid {
    -fx-background-color: #f5f5f5;
    -fx-padding: 40px;
    -fx-border-radius: 10px;
    -fx-border-color: #ddd;
    -fx-border-width: 5px;
    -fx-background-insets: 5px;
}

/* Styles des Labels avec classes uniques */
.label-titlee {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #2C3E50;
    -fx-alignment: center;
    -fx-padding: 8px;
    -fx-alignment: center;
}
.label-title {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #2C3E50;
    -fx-padding: 8px;
    -fx-alignment: center;
}


.label-cycle {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #555;
    -fx-alignment: center;
}


.labelll {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #333;
    -fx-padding: 8px;
    -fx-alignment: center;
}

.labelResultat {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #0355ba;
    -fx-padding: 8px;
    -fx-alignment: center;
}
.combo {
    -fx-background-color: #D9D9D9;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-padding: 5px;
    -fx-font-size: 16px;
    -fx-border-color: #A0A0A0;
    -fx-alignment: center;
    -fx-pref-height: 15px;  /* Réduire la hauteur de la ComboBox */
}

.combo .list-cell {
    -fx-font-weight: bold;
    -fx-alignment: center;  /* Centrer les éléments de la liste déroulante */
    -fx-padding: 2px 0;      /* Réduire le padding des éléments de la liste */
    -fx-pref-height: 20px;   /* Réduire la hauteur des éléments de la liste */
}

.combo .text {
    -fx-font-weight: bold;
    -fx-text-alignment: center;  /* Centrer le texte dans la zone sélectionnée */
    -fx-alignment: center;       /* Assurer que le texte dans la ComboBox soit centré */
    -fx-pref-height: 20px;       /* Réduire la hauteur de la zone de texte */
}
/* Classes pour les TextField spécifiques */
.text-field-traction,
.text-field-pelage,
.text-field-quantite,
.text-field-kanban,
.text-field-lot,
.text-field-nombre-lot {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-color: #ffffff; /* Fond blanc */
    -fx-border-color: #828282;  /* Bordure grise */
    -fx-border-radius: 5px;  /* Bordure arrondie */
    -fx-padding: 5px;  /* Padding interne */
    -fx-alignment: center-left; /* Alignement du texte à gauche */
    -fx-effect: innershadow(gaussian, #d3d3d3, 5, 0.5, 0, 1); /* Ombre interne légère */
    -fx-pref-width: 100%; /* Largeur pleine */
}

.text-field-traction:focused,
.text-field-pelage:focused,
.text-field-quantite:focused,
.text-field-kanban:focused,
.text-field-lot:focused,
.text-field-nombre-lot:focused {
    -fx-border-color: #27c427;  /* Bordure verte lorsqu'il est sélectionné */
    -fx-background-color: #f0f0f0;  /* Fond légèrement gris */
    -fx-effect: innershadow(gaussian, #66cc66, 5, 0.5, 0, 1); /* Ombre interne verte lors de la sélection */
}

.text-field-traction:hover,
.text-field-pelage:hover,
.text-field-quantite:hover,
.text-field-kanban:hover,
.text-field-lot:hover,
.text-field-nombre-lot:hover {
    -fx-border-color: #a1a1a1;  /* Bordure plus foncée au survol */
}

.text-field-traction:disabled,
.text-field-pelage:disabled,
.text-field-quantite:disabled,
.text-field-kanban:disabled,
.text-field-lot:disabled,
.text-field-nombre-lot:disabled {
    -fx-background-color: #5c5a5a;  /* Fond gris clair lorsque désactivé */
    -fx-border-color: #d3d3d3;  /* Bordure grise claire lorsque désactivé */
    -fx-text-fill: #a1a1a1;  /* Texte gris lorsque désactivé */
}

.matrix-grid-title {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #2C3E50;
    -fx-padding: 5px;
}

.radiusBtn{
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-background-color :  #023770 ; 
    -fx-cursor:hand;
    
}
.text-field-quantite {
    -fx-border-color: #007bf6;
    -fx-border-width: 5px;
}
.grid-pane-border {
    -fx-pref-width: 950px;  /* Largeur */
    -fx-pref-height: 450px; /* Hauteur */
    
    -fx-background-color: #f5f5f5; /* Couleur de fond */
    -fx-padding: 10px; /* Espacement interne */
    
    -fx-border-radius: 10px; /* Coins arrondis */
    -fx-border-color: #ddd; /* Couleur de la bordure */
    -fx-border-width: 5px; /* Épaisseur de la bordure */
    
    -fx-background-insets: 5px; /* Décalage du fond */
}
.grid-pane .cell[gridpane-columnindex="0"][gridpane-rowindex="0"] {
    -fx-border-color: transparent;
}

.textfield-blue-border {
    -fx-border-color: #0007cc;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}
/*************************************
.table-bordered {
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}

.text-field-cell {
    -fx-border-color: gray;
    -fx-border-width: 1px;
    -fx-alignment: center;
}
******/